/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28/06/2018, 06:43:23 PM
    Author     : hugo
*/



.botonA
{
    /*border-color: #FF8058;*/
}



.botonA, .botonB, .botonC {

    width:  126px;
    height: 24px;

    text-decoration: none;
    display:table-cell;
    vertical-align:middle;
    text-align: center;
    border-style: solid;
    border-width: 1px;        
    /*border-bottom-width: 2px;*/
       
    outline: 0rem;    
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    padding-top: calc(0.4rem - 1px);
    padding-bottom: calc(0.4rem - 1px);    
       
    font-weight: 600; 
    
    border-radius: 4px;
    
    
}




.boton{
   width: 10rem; 
    margin-bottom: 15px;
    margin-right: 10px;
}


.botonA:hover {
    opacity:0.7;
}

.botonA:active {
    opacity:0.2;
}

.botonA:focus{     
    outline-style: solid;
    outline-width: 1px ;
    opacity:0.7;
}



.botonF{
    width: 80px;
    height: 10px;    
    border : none;
    text-decoration: none;
    font-weight: 600;    
}