

.busqueda_central {
    
    display: flex;
    flex-direction: row;    
    justify-content: space-between;
    width: 100%;    
    /*margin-top: 20px;*/
    
    border: 1px solid gainsboro;
}

.busqueda_central input{
    
    height: 32px;    
    border: none;    
    /*border-bottom: 1px solid ;*/
    outline:0rem;
    padding: 0;
    width: 100%;
    font-size: 16px;
}

.busqueda_central .texto{    
     align-items: center;   
     justify-content: center;
     flex-grow:1;
}

.busqueda_central .icono{
    height: 32px;
    width: 32px;
    display: flex;
     align-items: center;   
     justify-content: center;
}

.busqueda_central .icon-search{    
    font-size: 20px;
}

.busqueda_central .icon-x{    
    font-size: 28px;
}

.busqueda_central .icon-chevron-down{    
    font-size: 28px;
}

.busqueda_central .icon-x,
.busqueda_central .icon-search,
.busqueda_central .icon-chevron-down {    
    color: #b94a48;
}





.conten_busqueda {
    margin-top: 15px;
    margin-bottom: 5px;
    min-height: 35px;
}





/*
.texto_busqueda {    
    display: none;    
}
*/



.bar-icon-search  {
    
    visibility: visible;        
    margin-right: 0.3rem;
    margin-left:   0.3rem;
    
    height: 33px;    
   display: flex;
   align-items: center;   
   
    margin-top: 1px;
}


/*
.icon-chevron-up {
    visibility: visible;
    margin-right: 0.3rem;
    margin-left: 0.3rem;
    height: 33px;
    display: flex;
    align-items: center;
}
*/



.icon-search-mate{
    cursor: pointer;
    color: white;
    font-size: 30px;
}


.icon-chevron-up{
    cursor: pointer;
    color: white;
    font-size: 30px;
}






.icon-search-mate,
.icon-search,
.icon-x,
.icon-chevron-down,
.icon-chevron-up
{
    cursor: pointer;
}

/*
#icono-x{    
    visibility:hidden;
}
*/
/*
.icon-search {
    color: white;
    font-size: 28px;
}
*/