




form  .t5,
form  .t5n
{
    width: 5rem;
}

form .t30 {
    width: 95%;
}    

div .tabular
{
    clear: none;
    overflow: auto;
}


div.fila
{
    clear: both;
}

.esp2 {  
    padding-top: 2rem;
}

div.col
{
    float: left;
    padding: 0.2rem;
          font-size: 0.94rem;

    /*border-color: #F0E0A0;
    border-style: solid;*/
            border-style: none;
    border-right-width: 0px;
    border-left-width: 0px;
    border-top-width: 1px;
    border-bottom-width: 0px;
        
}

form.campo{
    clear: both;
    float:left ;    
    width: 100%;
    margin-bottom: 0.5rem;
}






.pliego {
    /*
   width: 500px;
   height: 500px;
   */
   background: lightsteelblue;
   border: solid 1px gray;
   position:relative;
}
    

@media  (min-width : 321px) and (max-width : 480px){
    
.pliego {
   width: 310px;
   height: 310px;
}
    
    
}




.corte
{
   width: 50px;
   height: 50px;
   background: mediumaquamarine;
   border: solid 1px gray;   
   position:absolute;
   
}


.numerocorte
{
    height: inherit;
    font-size: 100%;    
}



.corte p {
    font-size: medium;
    
}