
/* Color 1 BASE  */


nav, footer, button, ul#menu, ul#menu li, .botonEnlace
nav, 
footer, 
button, 
ul#menu, 
ul#menu li, 
.botonEnlace
{
    background: #b71c1c;
}

ul#listaProcesos li a:hover {
    border-left-color: #b71c1c;
}


#pagination .active, #pagination a:hover, .botonEnlace2
#pagination .active, 
#pagination a:hover, 
.botonEnlace2

{
    border-color: #b71c1c;
}


#pagination a:link, #pagination a:visited,
    .tableB th, .tableB tfoot tr td,
    .botonEnlace2
#pagination a:link, 
#pagination a:visited,
    .tableB th, 
    .tableB tfoot tr td
    , .botonEnlace2
{
    color: #b71c1c;
}


h1, h2,  h3, h4, h5, h6{
    color: #b71c1c;
}

.tableC thead tr th
{
    border-color: #b71c1c;
}


.tableD tfoot tr  td {
    border-bottom-color: #b71c1c ;
}

.tableD tfoot tr  td,
form input:focus
{
    border-bottom-color: #b71c1c ;
}


.boton_svg:hover
{
    background-color: #b71c1c;     
}


.botonEnlace2:hover
{
    background-color:#b71c1c;
}


.contenedorTabs ul li a.select,
.contenedorTabs ul li a.select:active {
    color: #b71c1c;
}




/*Color 2 color de base convinada */

.tableB th,
.tableB tfoot tr td, 
.tableB tbody,
.cc-border,
.fondo_claro,
.tableE tfoot tr td,
.tableA tfoot tr td
{
    border-color: #315D81;
}







.tableA th {
    background: #315D81;
    border-color: #D46A6A;
}

.tableA th,
.tableA thead
{
    background-color: #D46A6A;
}

/*  cuadricula de busqueda  */
.tbusqueda tbody,   .tbusqueda th{
    border-bottom-color: #D46A6A;
    border-top-color: #D46A6A;

}

.tbusqueda th, 
.tableD th,
.tableE thead tr th 
{
      
      color: #D46A6A;
}




button:hover, 
ul#menu li a:hover, 
.botonEnlace:hover {
    background-color: #D46A6A;
}


/*
.tableA thead {    
    border: 0.1rem solid #D46A6A;
}
*/

/*
.tableA tbody tr {    
    border-left: 0.1rem solid blue;
    border-right: 0.1rem solid blue;
}
*/

/*
.tableA tbody tr {    
    border-bottom: 0.1rem solid #D46A6A;
}
   */ 
    





/*Color 3  color de base suave*/

.tableB tbody tr,
.tableC thead tr th
{

  background: #E4F0FB;
}

.tableA tbody tr, 
#pagination .active , 
.campoRelacionado,
.tbusqueda tr,
.botonEnlace2
{
  background: #E4F0FB;
}

#pagination a {
    border-color: #E4F0FB;
}





/*Color 4  resaltado*/
button:hover, ul#menu li a:hover, .botonEnlace:hover {

    background-color: #D9D9E0;
    background: #FFECEC;
  
}

.tableA tbody tr, 

#pagination .active , 
.campoRelacionado,
.tbusqueda tr,
/*.botonEnlace2,*/
output
{
  background: #FFECEC;
}

#pagination a {
    border-color: #FFECEC;
}


/*
.tableA tbody tr 
{
    border-left: 0.1rem solid #FFECEC;
    border-right: 0.1rem solid #FFECEC;
}
*/







/*Color 5  enfoque */
.Enfoque
{
    background-color:#FFF4D3;

}

ul#listaProcesos li a:hover {
    background-color:#FFF4D3;
}

.tableA tbody tr:hover,
.tableB tbody tr:hover,
.tableD tbody tr:hover
{
    background:#FFF4D3;
}

.botonEnlace2:hover
{
    background-color:#FFF4D3;
}

    








/*Color de texto*/
/*letras claras*/
button, ul#menu li a, .botonEnlace {
    color:white;
}



/*letras oscuras*/
button:hover, ul#menu li a:hover, .botonEnlace:hover {
    color:black;
}


ul#listaProcesos li h4 {
    color: DimGray;
    color: #666666;
    color: DimGray;
}

.tableA, .tableB, .tableD
.botonEnlace2
{
    color: DimGray;    
}




/* color de la linea de abajo en menu*/
li a:hover {
      /*  border-bottom: 4px solid MediumSeaGreen;*/
}




/*especiales */

.busqueda input:focus {
    border: 1px solid;
    border-color: tan;
}

.busqueda label {
    color: DimGray;
    color: #666666;
}


.error {
    color:red;
}

.info{
    color:blue;
}



/* White*/
.tableA th
{
    color: white;
}

.tableB th, .tableB tfoot tr td  {
    background:white ;
}



/*
  .tbusqueda th {
    background: white;
}


.tbusqueda tr:nth-child(even)  {
 background:white;

}
*/




button:hover, 
ul#menu li a:hover, 
.botonEnlace:hover
, .botonEnlace2:hover

{
    color:white;
}



/*  capas  */
/*  standard     opacity: 0.3;     opacity: 1;   */
#capa_oscura, 
#capa_oscura_segunda,
#capa_oscura3
#capa_oscura3,
.fondo_oscuro
{
     background-color: rgba(47, 79, 79, .3);
}



 #capa_busqueda, 
 #capa_clara_primera, 
 #capa_clara_segunda, 
 #capa_clara,
 #capa_clara3
 #capa_clara3,
 .fondo_claro,
 botonEnlace2
{
 background-color: white;
}







/*grises*/

form input {    
    border-bottom-color: silver;
}



form input:focus{    
    border-bottom-color: #b71c1c;
}






/*pruebas*/
form label {
    color: dimgrey;
}

fieldset{
    border-color: silver;
}


/*pruebas*/
form label {
    color: #616161;
}



.contenedorTabs ul li a,
.contenedorTabs ul li a:active {
    color: DimGray;
}



.contenedorTabs ul li a.select,
.contenedorTabs ul li a.select:active {
    border-color: dimgray;
}


.contenedorTabs ul li a,
.contenedorTabs ul li a:active {
    border-color: DimGray;
}




form input:disabled{
    background-color: #F0F0F0 ; 
    border-bottom-color: #D8D8D8 ;
}

