

body {
    margin: 0em;
    padding:0;
    height: 100%;
    margin-right: 1rem;
    margin-left: 1rem;
}


/*
@media (max-width: 600px) {
    body {
        margin-right: 0rem;
        margin-left: 0rem;
    }
}
*/



#wrapper {
    width: 100%;
    position:relative;
    overflow: hidden;
}

#wrapper,  section {
     /*min-height: 90%;*/
}

header{
    height:1em;
}



nav{
    height:2em;
}

aside{
    float:left;
    width:10%;
}



section{
    float:right;
    width:90%;
}



aside,
section{
    padding-bottom: 100000px;
    margin-bottom: -100000px;
}

 

 footer {  
  position: absolute;
  bottom: 0rem;
  width: 100%;
  height: 0rem;  
}
 
 


 /*
 article{
     padding-left: 0px;
     padding: 0px;
     margin: 0px;
     width:80%;
 }
 */
 
 
 /*
@media (max-width: 600px) {
 article{
    width:100%;
 }
}
*/

/*
article.form{
    width:70%;
}
*/


/*
@media (max-width: 1000px) {
    article.form{
        width:90%;
    }
}
*/

/*
article.table{
    width:80%;
}
*/

article{
    padding-top: 0rem;
    padding-bottom: 0rem;    
    margin-bottom: 0rem;
    margin-top: 0rem;    
}


footer {  
    position: absolute;
    bottom: 0rem;
    width: 100%;
    height: 0rem;  
}



.esp2 {  
    padding-top: 2rem;
}

.esp4{  
    padding-top: 4rem;
}





article.botones-footer{

    margin-top: 1.5rem;
    display: block;
    clear: left;
}


article.tab-cabecera{
    padding-bottom: 3.5rem;
}

/*
    margin-top: 0.5rem;
    display: block;
    clear: left;
    margin-bottom: 0rem;
}
*/

div.botones-footer{
    margin-top: 0.5rem;
    display: block;
    clear: left;
    margin-bottom: 0rem;
}





article.tab-cabecera{
    /*padding-bottom: 3.5rem;*/
}



article.tab-detalle{
    width: 100%;
  }

  
  
article.tab-cabecera ul {
  list-style: none;
  float: left;
  margin: 0;
  padding: 0;
  
  width: 100%;
  }
  
  
  
article.tab-cabecera ul li{
  float: left;
  margin: 0;
  padding: 0;    
    
  }

  
article.tab-cabecera  ul li a{
  float: left;
  display: block;
  /*padding: 10px;*/
  height:100%;
  text-decoration: none;
  width: 8rem;
  text-align: center;
  /*margin: auto;*/
  line-height: 1.9rem;   
}

  
  
  
  


/*  fin esquema */



h1,h2,h3,h4{

    padding-top: 1.5rem;
    padding-bottom: 1rem;
}




h4{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

h1{
    font-size: 1.30rem;
}

h2{
    font-size: 1.20rem;
}

h3{
    font-size: 1.10rem;
}

h4{
    font-size: 1rem;
}

h5{
    font-size: 0.90rem;

    margin-bottom: 0.90rem;

}

h6{
    font-size: 0.80rem;
}

ul#listaProcesos li h4 {
  font-size: 1rem;
  padding: 0.2rem;
}




/*
form{
    display: table;
    width: 90%;
}
*/
/*
form.ancho9{
    display: table;
    width: 90%;
}
*/

/*
.SinEnfoque, .Enfoque{
    display:table-row;
    height:2.4em;
    width: 100%;
}
*/



form {
    display: table;
    padding-top: 1rem;

}



form label {
    text-align: left;
    width: 10rem;
    padding-right: 0.5rem;

    width: 100%;
}


fieldset{
    border: 0.1rem solid ;
    border-collapse: collapse;
    
    padding-bottom: 0rem;
    padding-top: 1rem;     
}


form label,
form output
{
    text-align: left;    
    padding-right: 0.5rem;
    width: 7rem;    

}


form label, 
form input {
    display: block;    
    float: left;
    margin-bottom: 1rem;
}

form input {
    border: none;    
    border-bottom: 0.1rem solid ;
    outline:0px;
}

form input:focus{      
    border-bottom: 0.15rem solid ;    
}
form input,
form output
{
    display: block;    
    float: left;      
    height:auto;
    min-height: 1.5rem;
  
}


form input,
form output
{
  
    padding-right: 0.2rem;
    padding-left: 0.2rem;        
    margin-right: 0.5rem;        
    
}




form input {
    border: none;    
    /*border-bottom: 0.1rem solid ;*/
    border-bottom: 1px solid ;
    outline:0rem;
    padding-bottom: 0rem;
    padding-top: 0rem;    
    
}

form input:focus{      
    /*border-bottom: 0.1rem solid ;    */
    border-bottom: 1px solid ;    

}




form.campo{
    clear: both;
    float:left ;    
    width: auto;
}





.campoFK {
    width: 5rem;
}




.commandbutton{
    background: inherit;
    display:table-cell;
    vertical-align:middle;
    /*padding-top: 0rem;*/
}


.campoRelacionado {

}
form .campo{
    clear: both;
    float:left ;    
    width: 100%;
    margin-bottom: 0.5rem;
}

/*
form  .t5,
form  .t5n,
form  .t10,
form  .t10n,
form  .t20,
form  .t20n,
form  .t30,
form  .t30n
{        
    padding-right: 0.2rem;
    padding-left: 0.2rem;        
    margin-right: 0.5rem;        
}
*/

form  .t5,
form  .t5n
{
    width: 5rem;
}

form  .t5n{        
    text-align:right;
}


form  .t7{
    width: 7rem;
}


form  .t10,
form  .t10n
{
        width: 10rem;
}
form  .t10n{        
        text-align:right;
}






form  .t20{
        width: 20rem;
}

form  .t30{
        width: 30rem;
}



/*
output {    

    display:table-cell ;
    vertical-align:middle;
    width: 30rem;
    float: left;

    height:23px;

    height:1.5rem;
}
*/





.FKt5n {
    width: 5rem;
    text-align:right;
    margin-right: 5px;
}







.boton_svg{
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    float: left;      
}






/*
form output
{
    display: block;    
    float: left;      
    height:auto;
    min-height: 1.5rem;
  
}
*/




.commandbutton{
    background: inherit;
    display:table-cell;
    vertical-align:middle;
    /*padding-top: 0rem;*/

}




/* formulario de busqueda*/

.busqueda {
    background: inherit;
    vertical-align:middle;
    padding-top: 10px;

}

.busqueda input{
    width: 400px;
}


.busqueda {
    background: inherit;
    vertical-align:middle;
    
    padding-top: 1rem;

    margin-bottom: 2rem;

}




.busqueda input{
    width: 40%;

    float:left;
}

.busqueda label{
    width: 100px;
    float:left;
}

.busqueda input:focus {
   border-style:solid;
}



/* === Estilos del botones === */
button {
   width: 8em;
   height: 2.2em;
   line-height: 1;
   border: none;
}

button:hover {
    cursor: pointer;
}
button:active {
    opacity:0.5;
}





/*=  menu  =*/
 ul#menu {
  list-style: none;
  float: left;
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
}

ul#menu li {
  float: left;
  margin: 0;
  padding: 0;
}

ul#menu li a {
  float: left;
  display: block;
  /*padding: 10px;*/
  height:100%;
  text-decoration: none;
  width: 8rem;
  text-align: center;
  /*margin: auto;*/
  line-height: 1.9rem;
}

    


ul#menu li a:hover {

}







/*=  liste de componentes  =*/




.ListaA  {
    padding-top: 2rem;
}

.ListaA  ul {
    list-style: none;
    padding-left: 2rem;
}

.ListaA  ul li a{
    display: block;
    width: 80%;
    padding: 0.5rem;
    background: inherit;
    text-decoration: none;
}

.ListaA ul li a:hover {
    border-left: 0.5rem solid ;
}









/* TABLAS */

.tableA, .tableB, .tableD {
    border-collapse: collapse;

    border: 1px solid #eee;
    border-bottom: 2px solid;

    /*border: 1px solid #eee;*/
    /*border-bottom: 2px solid;*/

    border-bottom: none;
}


.tableB th, .tableB tfoot tr td,  .tableB tbody  {
    border: none ;
    border-bottom: 1px solid ;
    border-top: 1px solid ;
}



.tableB tfoot tr td {    
    border: none ;
}


.tableC thead{
    border-bottom: 1px solid ;
    border-top: 1px solid ;
    
}



.tbusqueda tbody, .tbusqueda th{
        border-bottom: 2px solid;
        border-top: 2px solid ;
}







.tableA  th
{
    border: 0.1rem solid;
}



.tableA td ,
.tableD  th, 
.tableD td 
{

    border: 1px solid #eee;
    /*padding: 0.2em 30px;*/
    
    padding-bottom: 0.2em;
    
    
    padding-left: 1em;
    padding-right: 1em;
    
    cursor:default;

    border: 0rem solid;
    padding-bottom: 0.2em;    
    cursor:default;
    /*
    border-left:  0.1rem solid ;
    border-right: 0.1rem solid ;
    */    

  }

.tableA th,  .tableD th {
    text-transform: uppercase;
    font-size: 0.8em;
    }

.tableA td,
.tableD td {    

    font-size: 0.95rem;

    font-size: 0.90rem;
    

}
    
.tableA tfoot tr td 
{
    font-weight: 600;

    padding-top: 1rem;
    border: 0px ;
    border-top: 2px solid;

    padding-top: 0.1rem;
    border: 0rem ;
    border-top: 1px solid;
    border: 1px solid;
    /*font-weight: normal;*/
    text-transform: uppercase;
    font-size: 0.8em;    

}






/*
.tableA thead {    
    border: 0.1rem solid #FFECEC;
}
.tableA tbody tr {    
    border-bottom: 0.1rem solid #FFECEC;
}
   */ 
    



    table .c5,
    table .c5n,
    table .c5t
    { 
        width: 5rem;
    }    

    table .c7,
    table .c7n,
    table .c7t
    { 
        width: 7rem;
    }     
        
    table .c10,
    table .c10n,
    table .c10t    
    { 
        width: 10rem;
    }    

    table .c15,
    table .c15n,
    table .c15t    
    { 
        width: 15rem;
    }    
       
    
    table .c20,
    table .c20n,
    table .c20t    
    { 
        width: 20rem;
    }    

    table .c20t,
    table .c20t,
    table .c20t
    {         
        padding-left: 0.2rem;
    }     

    
    
       
    
    table .c5n,
    table .c7n,
    table .c10n,
    table .c15n,
    table .c20n
    {         
        text-align: right;
        padding-right: 0.2rem;
    }        
    
    table .c5t,
    table .c7t,
    table .c10t,    
    table .c15t,
    table .c20t
    {         
        padding-left: 0.2rem;
    }        
    
    
   
    


.tableD tfoot tr  td {    
    border-bottom: 1px solid ;
    padding: 0em ;
}




    
    
.tableC table, th, td {    
    border: 1px solid black;    
}
  
.tableC {        
    border-collapse: collapse; 
}    
    
.tableC  .tituloregistro{        
    border: none; 
}        
    
.tableC  .lineablanco{        
    border: none; 
}        



.tableE thead tr th,
.tableE tbody tr td,
.tableE tfoot tr td
{   
    border: none;    
    font-weight: normal;
}

.tableE thead tr th, 
.tableE tfoot tr td 
{
    font-weight: 600;
}

.tableE tfoot tr td 
{
    font-weight: 600;
    padding-top: 1rem;
    border-top: 1px solid;
}


.tableE {
    border-collapse: collapse;
}






/*boton de enlace*/
.botonEnlace {
   font-size: 10pt;
   width: 100px;
   height: 35px;
   border: 4px solid white;
   border-left:  0px; 
    text-decoration: none;
    display:table-cell;
    vertical-align:middle;
    text-align: center;
    /*opacity:0.6;*/

    
    outline:0rem;

}

.botonEnlace:link,
.botonEnlace:visited {
/*   border-top: 1px solid #cccccc;
   border-bottom: 2px solid #666666;
   border-left: 1px solid #cccccc;
   border-right: 2px solid #666666; */
}


button {
   width: 100px;
   height: 27px;
   line-height: 1;
   border: none;
}




/* ----------- Pagination---------------------- */

.pagination {
    border:0;
    margin:0;
    padding:0;
}

.pagination li  {
    margin:0;
    padding:0;
    font-size: 10pt;
    list-style: none;
    float:left;
    min-width: 16px;
    text-align: center;
}

.pagination a  {
    border:solid 1px;
    margin-right:2px;
    min-width: 16px;
    text-align: center;
    font-weight:bold;
}

.pagination .active {
    font-weight:bold;
    display:block;
    float:left;
    padding:3px 3px; /* savers */
    margin-right:2px;
    border:solid 1px;
}

.pagination a:link, .pagination a:visited   {
    display:block;
    float:left;
    padding:3px 3px;
    text-decoration:none;
}

.pagination a:hover {
    border:solid 1px;
}




/*

#pagination {
    border:0;
    margin:0;
    padding:0;
}

#pagination li  {
    margin:0;
    padding:0;
    font-size: 10pt;
    list-style: none;
    float:left;
    min-width: 16px;
    text-align: center;
}

#pagination a  {
    border:solid 1px;
    margin-right:2px;
    min-width: 16px;
    text-align: center;
    font-weight:bold;
}

#pagination .active     {
    font-weight:bold;
    display:block;
    float:left;
    padding:3px 3px;
    margin-right:2px;
    border:solid 1px;
}

#pagination a:link, #pagination a:visited   {
    display:block;
    float:left;
    padding:3px 3px;
    text-decoration:none;

}

#pagination a:hover {
    border:solid 1px;
}



*/



/*  tabs  */

 ul#tabs {
  list-style: none;
  float: left;
  margin: 0;
  padding: 0;
  border: none;
}





ul#tabs li {
  float: left;
  margin: 5px;
  margin-left: 0px;   
  padding: 0;
}

ul#tabs li a {
  float: left;
  display: block;
  height:30px;
  text-decoration: none;
  width: 100px;
  text-align: center;
  line-height: 30px;
}

ul#tabs li a {
    border-bottom: 4px solid rgb(205,239,216);
}

ul#tabs li a:hover {
    border-bottom: 4px solid rgb(80,200,120);
}

ul#tabs li .active {
  border-bottom: 4px solid rgb(80,200,120);
}







/*  formulario busqueda  */

#capa_oscura, 
#capa_oscura_segunda,
#capa_oscura3 
#capa_oscura3,
.fondo_oscuro
   {
       top: 0px;
       left: 0px;
       display: none;

   }



#capa_busqueda
{
    display: none;
    position: absolute;
}


 #capa_clara, 
 #capa_clara_primera, 
 #capa_clara_segunda,

 #capa_clara3

 #capa_clara3,
 .fondo_claro

 {
     display: none;
 }



 .cc-border

 .fondo_claro

 {
   border: 1px solid;
 }

 .cc-border article{
       width: 100%;
     }





.botones_footer_modal_deprecated{
  width: inherit;
  margin-left: 10%;
  position:relative;
  padding-bottom: 0.4rem;
}


#busqueda_body {
     position:relative;
     width: 100%;
     width: inherit;
 }
#busqueda_body {
    margin-top: 50px;
}

.botonBusqueda {
       float: left;
}


#tab_body {
    position:relative;
    display: block;
    border: 1px darkred;
    width: 100%;
}


.botonBusqueda {
       float: left;
}


.botonEnlace2{

   font-size: 10pt;
   width: 100px;
   height: 25px;

    text-decoration: none;
    display:table-cell;
    vertical-align:middle;
    text-align: center;
    border:solid 1px;
}



.botonCampo a {    
    font-size: 1rem;
    font-weight: bold;
    color: green;    
    background-color: red;
}




.centrado {    
    width: 50%;
    margin-right: 25%;
    margin-left: 25%;

    margin-top: 10rem;

    margin-top: 15%;

}




.right{
    float: right;
}


/*

td.numero{    
    padding-right: 3px;
    text-align: right;
}

*/


.right-aling{
    padding-right: 3px;
    text-align: right;
    
};


.left{
    float:left;
    text-align: left;
}


.notificacion_error, .notificacion_info {

        color: white;

        position:absolute; /*El div será ubicado con relación a la pantalla*/

        left:0px; /*A la derecha deje un espacio de 0px*/
        right:0px; /*A la izquierda deje un espacio de 0px*/
        bottom:0px; /*Abajo deje un espacio de 0px*/

        z-index:10;
        width: 50%;

        margin-left: 1rem;
        margin-bottom: 3rem;

        padding: 0 0;

 }


.notificacion_error{
        background: #FF1A00;

        background: #4682B4;

 }



.notificacion_info{
        background: #37BC61;
}


.contenedorInterior   {
    font-size: 1.10rem;
    padding: 2% 2%;
  }




.calendar-box {
	display:none;
	background-color:#fff;
	border:1px solid #444;
	position:absolute;
	width:250px;
	padding: 0 5px;
}
.calendar-box select.calendar-month {
	width:90px;
}
.calendar-box select.calendar-year {
	width:70px;
}
.calendar-box .calendar-cancel {
	width:100%;
}
.calendar-box table td {
	width:14%;
}
.calendar-box .calendar-title {
	text-align:center;
}
.calendar-box a {
	text-decoration:none;
}
.calendar-box .today a {
	padding:0 5px;
	margin-left:-5px;
	background-color:#ffe9c6;
}
.calendar-box .selected a {
	padding:0 5px;
	margin-left:-5px;
	background-color:#c9ff8b;
}


.pestagnas-tab{
    
        display: inline-table; 
        padding: 1rem; 
        cursor: pointer;
        /*border-bottom: solid 1px;*/
}





/* tabla con div*/

div.tabla
{
	clear: none;
	overflow: auto;
}

div.fila
{
	clear: both;
}

div.col_titulo
{
	float: left;
	padding: 0.2rem;
	background: #F0E0A0;
	border-color: #F0E0A0;
	border-style: solid;
	border-right-width: 0px;
	border-left-width: 0px;
	border-top-width: 0px;
	border-bottom-width: 1px;
}

div.col
{
	float: left;
	padding: 0.2rem;
              font-size: 0.94rem;
        
	/*border-color: #F0E0A0;
	border-style: solid;*/
                border-style: none;
	border-right-width: 0px;
	border-left-width: 0px;
	border-top-width: 1px;
	border-bottom-width: 0px;
        
}



/* tabla con div*/

div .tabular
{
    clear: none;
    overflow: auto;
}

div .fila
{
    clear: both;
}


div .col,
div .col50,
div .col100
{
    float: left;
    margin-top: 0.5rem;
    margin-bottom: 0rem;
    margin-right: 4rem;
}


div .col
{    
    width: auto;
}

div .col50
{
    margin-right: 0rem;
    width: 50%;
}

div .col100
{    
    width: 100%;
}


    
  


      
        
/*tabs*/        

.contenedorTabs{   
   width: 100%;   
    text-decoration: none;
    display:table-cell;
    vertical-align:middle;
    text-align: center;
    border:none;    
    padding-top: 2rem;
}

.contenedorTabs ul {
    margin: 0px; 
    padding: 0px;
    display: inline;
    list-style-type: none;
    padding-left: 0px;
}


.contenedorTabs ul li {
    margin: 0; 
    padding: 0;
    display: inline;
    list-style-type: none;
    }


.contenedorTabs ul li a,
.contenedorTabs ul li a.select
{   
   font-weight: bold;
   width: 8rem;
   height: 1.8rem;
    text-decoration: none;
    display:table-cell;
    vertical-align:middle;
    text-align: center;
    border:none;
    border-bottom: solid 1px;    
}


.contenedorTabs ul li a.select,
.contenedorTabs ul li a.select:active {
    border: solid 1px;
    border-bottom-width: 0px;    

}


