




        <div class="tabular">
                <div class="fila">

                        <form
                                action="../#" 
                                method="post" 
                                id="calc_form" 
                                name='calc_form'
                            >





                            <div class="f-line">

                                <div>
                                    <h5>Tamaño de pliego</h5> 
                                    <div class="f-campo">

                                        <div class="bl-6">
                                            <label for="tam_ancho">Ancho:</label> 
                                        </div>

                                        <div class="bl-4">
                                            <input 
                                                TYPE="text"
                                                name="tam_ancho"                                                
                                                id="calc_tam_ancho"
                                                value="0"
                                                class="num"                                                
                                                />               
                                        </div>
                                    </div> 
                                    <div class="f-campo">

                                        <div class="bl-6">
                                            <label for="tam_largo">Largo:</label> 
                                        </div>

                                        <div class="bl-4">
                                            <input 
                                                TYPE="text"
                                                name="tam_largo"                                                
                                                id="calc_tam_largo"
                                                value="0"
                                                class="num"                                                
                                                />               
                                        </div>
                                    </div> 

                                </div>


                                <div class="bl-8"></div>


                                <div>

                                    <h5>Tamaño de corte</h5> 
                                    <div class="f-campo">

                                        <div class="bl-6">
                                            <label for="corte_ancho">Ancho:</label> 
                                        </div>

                                        <div class="bl-4">
                                            <input 
                                                TYPE="text"
                                                name="corte_ancho"                                                
                                                id="calc_corte_ancho"
                                                value="0"
                                                class="num"                                                
                                                />               
                                        </div>
                                    </div> 
                                    <div class="f-campo">

                                        <div class="bl-6">
                                            <label for="corte_largo">Largo:</label> 
                                        </div>

                                        <div class="bl-4">
                                            <input 
                                                TYPE="text"
                                                name="corte_largo"                                                
                                                id="calc_corte_largo"
                                                value="0"
                                                class="num"                                                
                                                />               
                                        </div>
                                    </div> 

                                </div>        

                            </div>                    

                           
 

                        </form>                              

                </div>    
                    
                <div class="fila">
                    
                    
                    <hr class="e20"/>
                    <div class="col">         
                        
                        <div class="pliego"
                             id="planopliego"
                             style="bottom: 0.5rem;"
                             >

                            <span></span>

                        </div>             
                    
                    </div>
                    <hr class="e20"/>
                    
                    
                    <div class="col">
                        
                        <div class="fila">
                                                
                            <table border="0">
                            <tr>
                                <td style="border:none;">Cortes por pliego:</td>
                                <td style="border:none;" 
                                    id="numeros_pliegos">0</td>                        
                            </tr>
                            <tr>
                                <td style="border:none;">Papel utilizado %:</td>
                                <td style="border:none;"
                                    id="papelutilizado">0</td>
                            </tr>
                            <tr>
                                <td style="border:none;">Desperdiciado %:</td>
                                <td style="border:none;"
                                    id="desperdiciado">0</td>
                            </tr>
                            </table>    
                            
                        </div>
                        
                        
                        <div class="fila">
                            
                            <br/>

                                
                            <br/>

                            <br/>                       
                            
                            
                            <table border="0">
                            <tr>
                                <td style="border:none;">
                                    <input name="intereses" 
                                           type="radio"  
                                           checked="checked"
                                           id="original"
                                           />  Original
                                </td>
                                <td style="border:none;" 
                                    ></td>                        
                            </tr>
                            <tr>
                                <td style="border:none;">
                                    <input name="intereses" 
                                           type="radio"
                                           id="invertido"
                                           />  Invertido                                    
                                </td>
                                <td style="border:none;"
                                    ></td>
                            </tr>
                            </table>                                
                            
                            
                            
                        </div>
                        
                    </div>          
               
                </div>                        
                    
        </div>   
    

        
        
        <article id="calculadora-acciones">
            

        </article>                
        
