

<div class ="table-responsive-vertical">
    


        <table class="tableA" id="valores-tabla">
                        
                <thead>
                    
                    <tr>
                       
                        <th colspan="2">tamaño pliego</th>                        
                        <th colspan="2">corte trabajo</th>
                        <th colspan="2"></th>

                    </tr>                    
                    
                    <tr>
                       
                        <th class="c5">largo</th>
                        <th class="c5">ancho</th>
                        <th class="c5">largo</th>
                        <th class="c5">ancho</th>
                        <th class="c20">descripcion</th>
                        <th class="c5">piegos</th>
                        
                    </tr>
                
                </thead>

          
          <tbody id="valores-tb">

          </tbody>

          <tfoot>
            <tr>
            </tr>
          </tfoot>
        </table>
    
</div>
    

    <article id="valores_detalles_accion"> 
         <div class ="botones">
             <div class="boton">

                <a 
                    id="agregar_valor"                     
                    class="botonB"
                    href="javascript:void(0);"                      
                    >
                    agregar
                </a>

             </div>  
         </div>   
    </article>            


        