
<article>
    
    <form
    class="form"
    action="#"
    name="form_ordentrabajo"
    id="form_ordentrabajo"                    
    >

                      
                

            <div class="f-line">
                <div class="f-campo">

                    <div class="bl-8">
                        <label for="orden_trabajo">Orden Nro:</label> 
                    </div>

                    <div class="bl-8">
                        <input                                                 
                            type="text"
                            name="orden_trabajo"
                            id="ordentrabajo_orden_trabajo"
                            class="num" 
                            value="0"
                            disabled="disabled"                           
                            />
                    </div>
                </div>    
            </div>                    

            
                      
                

            <div class="f-line">
                
                <div class="f-campo">
                    <div class="bl-8">
                        <label for="fecha_recepcion">Fecha recepcion:</label> 
                    </div>

                    <div class="bl-8">
                        <input                                                 
                            type="DATE"
                            name="fecha_recepcion"
                            id="ordentrabajo_fecha_recepcion"                            
                            />
                    </div>
                </div> 
                
                
                <div class="bl-8"></div>
                
                
                
                <div class="f-campo">
                    <div class="bl-8">
                        <label for="fecha_entrega">Fecha Entrega:</label> 
                    </div>

                    <div class="bl-8">
                        <input                                                 
                            type="DATE"
                            name="fecha_entrega"
                            id="ordentrabajo_fecha_entrega"                            
                            />
                    </div>
                </div> 
                
            </div>                    


                
                
                
            <div class="f-line">
                
                <div class="f-campo">

                    <div class="bl-8">
                        <label for="cliente">Cliente:</label> 
                    </div>

                    <div class="bl-6">
                        <input type="text" 
                               name="cliente" 
                               id="ordentrabajo_cliente" 
                               class="num">
                    </div>
                    
                    
                    <div class="bl-1">
                    </div>                      
                    
                    <div class="bl-2">                        
                        <div class="icono"> 
                            <span class="icon-more-horizontal" id="ico-more-cliente" data-ind="0">                                    
                            </span>
                        </div>                        
                    </div>                    
                    
                    
                    <div class="bl-2" style="display: none">                        
                        <div class="icono"> 
                            <span class="icon-plus" id="ico-plus-cliente" data-ind="0">
                            </span>
                        </div>                        
                    </div>                    
                </div>                        
                
                    
                <div class="f-campo">                    
                    <div class="bl-24 out">      
                        <output id="cliente_descripcion" ></output>
                    </div>                        
                    
                </div>    
    
            </div>                
                
                
                
                
            <div class="f-line">
                
                
                <div class="f-campo">
                    <div class="bl-8">
                        <label for="ruc">Ruc:</label> 
                    </div>                    

                    <div class="bl-10 out">      
                        <output id="ruc_descripcion" ></output>
                    </div>
                    
                    <div class="bl-6"></div>
                    
                </div>
                
                
                    
                
                
                
                <div class="f-campo">
                    <div class="bl-8">
                        <label for="tel">Telefono:</label> 
                    </div>                    


                    <div class="bl-10 out">      
                        <output id="tel_descripcion" ></output>
                    </div>                                            
                </div>                

                
                
            </div>                



            <div class="f-line">
                
                <div class="f-campo">
                    <div class="bl-8">
                        <label for="direccion">Direccion:</label> 
                    </div>                    

                    <div class="bl-18 out">      
                        <output id="direccion_descripcion" ></output>
                    </div>
                    
                    <div class="bl-4"></div>
                    
                </div>

                <div class="f-campo">
                    <div class="bl-8">
                        <label for="ciudad">Ciudad:</label> 
                    </div>                    

                    
                    
                    
                    <div class="bl-10 out">      
                        <output id="ciudad_descripcion" ></output>
                    </div>                                            
                </div>                

            </div>        
                
                
    
        <hr class="e20"/>
        <article>                        
            <div id="orden_detalles">
                <span></span>
            </div>                        
        </article>     
        
    
       <hr class="e20"/>
        <article>                        
            <div id="orden_valores">
                <span></span>
            </div>                        
        </article>         
    
       <div class="f-line">
           
            <div class="f-campo">
                <div class="bl-4">
                    <input type="checkbox" id="chk_offset" name="off_set"/> 
                </div>
                <div class="bl-8">
                    <label for="chk_offset">OFFSET</label>
                </div>
            </div>             
            <div class="bl-4"></div>
            <div class="f-campo">
                <div class="bl-4">
                    <input type="checkbox" id="chk_tipografica" name="tipografica"/> 
                </div>
                <div class="bl-8">
                    <label for="chk_tipografica">TIPOGRAFICA</label>
                </div>
           </div>                     
           
           
           
       </div>
            
            
            
       
       
    </form>
    
    
</article>

<article id="ordentrabajo-acciones">
    <pre></pre>
</article>
                

<hr class="e40"/>
<hr class="e40"/>